.page-contar{
    text-align: center;

    .botao{
        width: 9em;
        height: 2em;
        margin-left: 1em;
        margin-top:2em;
    
        border-radius: 4px;
        color:red;
    }

}